In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import wrangle, explore

import warnings
warnings.filterwarnings('ignore')

# Predicting Car Prices

In [2]:
#Talk about project scope

#### To-Do List
 - Create README on github that allows for project understanding
 - Find a dataset for used cars and there pricing 
 - create a function to put it into a pandas a dataframe
 - wrangle and explore, create a model that allows us to predict car price.
 - deploy this model into a phone app that allows you to  number

## Wrangle 
 - The data We're working with here can be found on Kaggle
 - https://www.kaggle.com/ananaymital/us-used-cars-dataset

In [3]:
cars_df = pd.read_csv('used_cars_data.csv')

#### Summarize Statistics

In [4]:
cars_df.head()

,vin,back_legroom,bed,bed_height,bed_length,body_type,cabin,city,city_fuel_economy,combine_fuel_economy,...,transmission,transmission_display,trimId,trim_name,vehicle_damage_category,wheel_system,wheel_system_display,wheelbase,width,year
0,ZACNJABB5KPJ92081,35.1 in,NaN,NaN,NaN,SUV / Crossover,NaN,Bayamon,NaN,NaN,...,A,9-Speed Automatic Overdrive,t83804,Latitude FWD,NaN,FWD,Front-Wheel Drive,101.2 in,79.6 in,2019
1,SALCJ2FX1LH858117,38.1 in,NaN,NaN,NaN,SUV / Crossover,NaN,San Juan,NaN,NaN,...,A,9-Speed Automatic Overdrive,t86759,S AWD,NaN,AWD,All-Wheel Drive,107.9 in,85.6 in,2020
2,JF1VA2M67G9829723,35.4 in,NaN,NaN,NaN,Sedan,NaN,Guaynabo,17.0,NaN,...,M,6-Speed Manual,t58994,Base,NaN,AWD,All-Wheel Drive,104.3 in,78.9 in,2016
3,SALRR2RV0L2433391,37.6 in,NaN,NaN,NaN,SUV / Crossover,NaN,San Juan,NaN,NaN,...,A,8-Speed Automatic Overdrive,t86074,V6 HSE AWD,NaN,AWD,All-Wheel Drive,115 in,87.4 in,2020
4,SALCJ2FXXLH862327,38.1 in,NaN,NaN,NaN,SUV / Crossover,NaN,San Juan,NaN,NaN,...,A,9-Speed Automatic Overdrive,t86759,S AWD,NaN,AWD,All-Wheel Drive,107.9 in,85.6 in,2020

In [5]:
wrangle.summerize_df(cars_df)

-----shape------
3000040 rows and 66 columns
---info---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000040 entries, 0 to 3000039
Data columns (total 66 columns):
 #   Column                   Dtype
---  ------                   -----
 0   vin                      object
 1   back_legroom             object
 2   bed                      object
 3   bed_height               object
 4   bed_length               object
 5   body_type                object
 6   cabin                    object
 7   city                     object
 8   city_fuel_economy        float64
 9   combine_fuel_economy     float64
 10  daysonmarket             int64
 11  dealer_zip               object
 12  description              object
 13  engine_cylinders         object
 14  engine_displacement      float64
 15  engine_type              object
 16  exterior_color           object
 17  fleet                    object
 18  frame_damaged            object
 19  franchise_dealer         bool
 20  franchise_make           object
 21  front_legroom            object
 22  fuel_tank_volume         object
 23  fuel_type                object
 24  has_accidents            object
 25  height                   object
 26  highway_fuel_economy     float64
 27  horsepower               float64
 28  interior_color           object
 29  isCab                    object
 30  is_certified             float64
 31  is_cpo                   object
 32  is_new                   bool
 33  is_oemcpo                object
 34  latitude                 float64
 35  length                   object
 36  listed_date              object
 37  listing_color            object
 38  listing_id               int64
 39  longitude                float64
 40  main_picture_url         object
 41  major_options            object
 42  make_name                object
 43  maximum_seating          object
 44  mileage                  float64
 45  model_name               object
 46  owner_count              float64
 47  power                    object
 48  price                    float64
 49  salvage                  object
 50  savings_amount           int64
 51  seller_rating            float64
 52  sp_id                    float64
 53  sp_name                  object
 54  theft_title              object
 55  torque                   object
 56  transmission             object
 57  transmission_display     object
 58  trimId                   object
 59  trim_name                object
 60  vehicle_damage_category  float64
 61  wheel_system             object
 62  wheel_system_display     object
 63  wheelbase                object
 64  width                    object
 65  year                     int64
dtypes: bool(2), float64(14), int64(4), object(46)
memory usage: 1.4+ GB
None
       city_fuel_economy  combine_fuel_economy  daysonmarket  \
count       2.508755e+06                   0.0  3.000040e+06
mean        2.269325e+01                   NaN  7.605973e+01
std         8.807024e+00                   NaN  1.088839e+02
min         7.000000e+00                   NaN  0.000000e+00
25%         1.800000e+01                   NaN  1.400000e+01
50%         2.100000e+01                   NaN  3.500000e+01
75%         2.600000e+01                   NaN  8.200000e+01
max         1.270000e+02                   NaN  3.599000e+03

       engine_displacement  highway_fuel_economy    horsepower  is_certified  \
count         2.827654e+06          2.508755e+06  2.827654e+06           0.0
mean          2.968488e+03          2.947337e+01  2.479957e+02           NaN
std           1.348905e+03          7.769252e+00  9.046639e+01           NaN
min           7.000000e+02          1.000000e+01  5.500000e+01           NaN
25%           2.000000e+03          2.500000e+01  1.750000e+02           NaN
50%           2.500000e+03          2.900000e+01  2.440000e+02           NaN
75%           3.600000e+03          3.300000e+01  3.000000e+02           NaN
max           8.400000e+03          1.270000e+02  1.001000e+03           NaN

           latitude    listing_id     longitude       mileage   owner_count  \
count  3.000040e+06  3.000040e+06  3.000040e+06  2.855653e+06  1.483027e+06
mean   3.698414e+01  2.754987e+08 -9.064224e+01  3.114690e+04  1.532644e+00
std    4.996819e+00  8.894123e+06  1.390589e+01  7.458675e+04  9.202928e-01
min    1.834670e+01  1.994620e+07 -1.579280e+02  0.000000e+00  1.000000e+00
25%    3.350920e+01  2.745794e+08 -9.708820e+01  6.000000e+00  1.000000e+00
50%    3.784710e+01  2.785453e+08 -8.724950e+01  8.267000e+03  1.000000e+00
75%    4.100620e+01  2.804553e+08 -8.045490e+01  4.366200e+04  2.000000e+00
max    6.120310e+01  2.820222e+08 -6.607850e+01  9.999999e+07  1.900000e+01

              price  savings_amount  seller_rating         sp_id  \
count  3.000040e+06    3.000040e+06   2.959168e+06  2.999944e+06
mean   2.993337e+04    5.509768e+02   4.270413e+00  2.335224e+05
std    1.956617e+04    1.079448e+03   5.133017e-01  1.323221e+05
min    1.650000e+02    0.000000e+00   1.000000e+00  4.159300e+04
25%    1.845100e+04    0.000000e+00   4.000000e+00  6.337500e+04
50%    2.647700e+04    0.000000e+00   4.341463e+00  2.816270e+05
75%    3.822000e+04    7.850000e+02   4.605263e+00  3.366140e+05
max    3.299995e+06    1.474140e+05   5.000000e+00  4.409510e+05

       vehicle_damage_category          year
count                      0.0  3.000040e+06
mean                       NaN  2.017728e+03
std                        NaN  4.178701e+00
min                        NaN  1.915000e+03
25%                        NaN  2.017000e+03
50%                        NaN  2.020000e+03
75%                        NaN  2.020000e+03
max                        NaN  2.021000e+03
----Catagorical Variables----
['vin', 'back_legroom', 'bed', 'bed_height', 'bed_length', 'body_type', 'cabin', 'city', 'dealer_zip', 'description', 'engine_cylinders', 'engine_type', 'exterior_color', 'fleet', 'frame_damaged', 'franchise_make', 'front_legroom', 'fuel_tank_volume', 'fuel_type', 'has_accidents', 'height', 'interior_color', 'isCab', 'is_cpo', 'is_oemcpo', 'length', 'listed_date', 'listing_color', 'main_picture_url', 'major_options', 'make_name', 'maximum_seating', 'model_name', 'power', 'salvage', 'sp_name', 'theft_title', 'torque', 'transmission', 'transmission_display', 'trimId', 'trim_name', 'wheel_system', 'wheel_system_display', 'wheelbase', 'width']
----Continous  Variables----
['city_fuel_economy', 'combine_fuel_economy', 'daysonmarket', 'engine_displacement', 'franchise_dealer', 'highway_fuel_economy', 'horsepower', 'is_certified', 'is_new', 'latitude', 'listing_id', 'longitude', 'mileage', 'owner_count', 'price', 'savings_amount', 'seller_rating', 'sp_id', 'vehicle_damage_category', 'year']
--nulls--
vin                           0
back_legroom             159269
bed                     2980472
bed_height              2570942
bed_length              2570942
                         ...
wheel_system             146732
wheel_system_display     146732
wheelbase                159269
width                    159269
year                          0
Length: 66, dtype: int64

#### Null Handling

In [6]:
col = wrangle.get_nulls(cars_df)[0]

<class 'pandas.core.series.Series'>

In [7]:
col[1:61]

                         num_rows_missing  percent_rows_missing
back_legroom                       159269              5.308896
bed                               2980472             99.347742
bed_height                        2570942             85.696924
bed_length                        2570942             85.696924
body_type                           13543              0.451427
cabin                             2936507             97.882262
city                                    0              0.000000
city_fuel_economy                  491285             16.375948
combine_fuel_economy              3000040            100.000000
daysonmarket                            0              0.000000
dealer_zip                              0              0.000000
description                         77901              2.596665
engine_cylinders                   100581              3.352655
engine_displacement                172386              5.746123
engine_type                        100581              3.352655
exterior_color                         26              0.000867
fleet                             1426595             47.552533
frame_damaged                     1426595             47.552533
franchise_dealer                        0              0.000000
franchise_make                     572635             19.087579
front_legroom                      159269              5.308896
fuel_tank_volume                   159269              5.308896
fuel_type                           82724              2.757430
has_accidents                     1426595             47.552533
height                             159269              5.308896
highway_fuel_economy               491285             16.375948
horsepower                         172386              5.746123
interior_color                        165              0.005500
isCab                             1426595             47.552533
is_certified                      3000040            100.000000
is_cpo                            2817142             93.903481
is_new                                  0              0.000000
is_oemcpo                         2864678             95.487993
latitude                                0              0.000000
length                             159269              5.308896
listed_date                             0              0.000000
listing_color                           0              0.000000
listing_id                              0              0.000000
longitude                               0              0.000000
main_picture_url                   369093             12.302936
major_options                      200048              6.668178
make_name                               0              0.000000
maximum_seating                    159269              5.308896
mileage                            144387              4.812836
model_name                              0              0.000000
owner_count                       1517013             50.566426
power                              481426             16.047319
price                                   0              0.000000
salvage                           1426595             47.552533
savings_amount                          0              0.000000
seller_rating                       40872              1.362382
sp_id                                  96              0.003200
sp_name                                 0              0.000000
theft_title                       1426595             47.552533
torque                             517793             17.259537
transmission                        64185              2.139471
transmission_display                64185              2.139471
trimId                             115827              3.860849
trim_name                          116294              3.876415
vehicle_damage_category           3000040            100.000000

In [8]:
col[61:]

                      num_rows_missing  percent_rows_missing
wheel_system                    146732              4.891001
wheel_system_display            146732              4.891001
wheelbase                       159269              5.308896
width                           159269              5.308896
year                                 0              0.000000

In [9]:
cars_df.shape

(3000040, 66)

#### High Null Columns takeaways (Over 90%)

- Bed is only used for trucks, making the column 99% null , remove bed info
- Cabin missing 97%, remove cabin
- Combine Fuel Economy is 100% null, remove
- drop is_certified
- drop is_cpo

In [10]:
cars_df = wrangle.drop_null_columns(cars_df , 90)

<class 'pandas.core.series.Series'>

In [12]:
cars_df.shape

(3000040, 59)

#### High Null rows takeaways (Over 40%)
- removing any row that has more than 40% of its columns missing

In [13]:
row = wrangle.get_nulls(cars_df)[1]

<class 'pandas.core.series.Series'>

In [14]:
row

   num_cols_missing percent_cols_missing  num_rows
0                 0                  0.0     66627
1                 1    1.694915254237288     49855
2                 2    3.389830508474576    589082
3                 3    5.084745762711865    458971
4                 4    6.779661016949152    187672
5                 5     8.47457627118644     95920
6                 6    10.16949152542373     31376
7                 7   11.864406779661017    133128
8                 8   13.559322033898304     41218
9                 9   15.254237288135593    626007
10               10    16.94915254237288    188646
11               11    18.64406779661017    228022
12               12    20.33898305084746     80749
13               13   22.033898305084744     33462
14               14   23.728813559322035     14426
15               15   25.423728813559322     13198
16               16    27.11864406779661      6837
17               17     28.8135593220339      7099
18               18   30.508474576271187      3241
19               19    32.20338983050847      1683
20               20    33.89830508474576     14943
21               21    35.59322033898305     16622
22               22    37.28813559322034      8556
23               23   38.983050847457626      8558
24               24    40.67796610169492      3737
25               25     42.3728813559322      4449
26               26    44.06779661016949      2714
27               27    45.76271186440678     22670
28               28    47.45762711864407     16933
29               29   49.152542372881356      9369
30               30   50.847457627118644      7840
31               31    52.54237288135594     13200
32               32    54.23728813559322      8355
33               33   55.932203389830505      3032
34               34     57.6271186440678      1277
35               35    59.32203389830508       411
36               36   61.016949152542374       146
37               37    62.71186440677966         9

In [15]:
cars_df = wrangle.drop_null_rows(cars_df, 40)

In [17]:
cars_df.shape

(2905898, 59)

In [18]:
cars_df.isna().sum()

vin                           0
back_legroom              65127
bed_height              2476800
bed_length              2476800
body_type                  1061
city                          0
city_fuel_economy        398343
daysonmarket                  0
dealer_zip                    0
description               71310
engine_cylinders          50625
engine_displacement       78245
engine_type               50625
exterior_color               26
fleet                   1340231
frame_damaged           1340231
franchise_dealer              0
franchise_make           566673
front_legroom             65127
fuel_tank_volume          65127
fuel_type                 38516
has_accidents           1340231
height                    65127
highway_fuel_economy     398343
horsepower                78245
interior_color              162
isCab                   1340231
is_new                        0
latitude                      0
length                    65127
listed_date                   0
listing_color                 0
listing_id                    0
longitude                     0
main_picture_url         344067
major_options            165189
make_name                     0
maximum_seating           65127
mileage                  134351
model_name                    0
owner_count             1425921
power                    387285
price                         0
salvage                 1340231
savings_amount                0
seller_rating             39328
sp_id                        94
sp_name                       0
theft_title             1340231
torque                   423652
transmission              56241
transmission_display      56241
trimId                    37386
trim_name                 37852
wheel_system              57702
wheel_system_display      57702
wheelbase                 65127
width                     65127
year                          0
dtype: int64

#### Investigating remaining nulls (To drop, fill, or impute)

In [22]:
#Bed
#Bed stats only used for pickuptruck, remove
cars_df = cars_df.drop(columns=['bed_height', 'bed_length'])

In [24]:
cars_df.shape

(2905898, 57)