In [1]:
import numpy as np
import pandas as pd
import wrangle
import os
import datetime


import warnings
warnings.filterwarnings('ignore')

# Wrangle Walkthrough

In [2]:
#Talk about project scope

#### To-Do List
 - Create README on github that allows for project understanding
 - Find a dataset for used cars and there pricing 
 - create a function to put it into a pandas a dataframe
 - wrangle and explore, create a model that allows us to predict car price.
 - deploy this model into a phone app that allows you to  number

## Wrangle 
 - The data We're working with here can be found on Kaggle
 - https://www.kaggle.com/ananaymital/us-used-cars-dataset

#### Summarize Statistics

In [3]:
#dataset is huge , we'll grab 10,000 observations for the cleaning process
if os.path.isfile('cars_sample.csv'):
    cars_df =   pd.read_csv('cars_sample.csv')
else:
    all_cars_df = pd.read_csv('used_cars_data.csv')
    cars_df = all_cars_df.sample(10000,random_state=145)
    cars_df.to_csv('cars_sample.csv', index=False)

In [4]:
#wrangle.summerize_df(cars_df)

#### Null Handling

In [5]:
col = wrangle.get_nulls(cars_df)[0]

<class 'pandas.core.series.Series'>

In [6]:
col[1:61]

                         num_rows_missing  percent_rows_missing
back_legroom                        13237                5.2948
bed                                248395               99.3580
bed_height                         214314               85.7256
bed_length                         214314               85.7256
body_type                            1143                0.4572
cabin                              244785               97.9140
city                                    0                0.0000
city_fuel_economy                   40803               16.3212
combine_fuel_economy               250000              100.0000
daysonmarket                            0                0.0000
dealer_zip                              0                0.0000
description                          6395                2.5580
engine_cylinders                     8385                3.3540
engine_displacement                 14347                5.7388
engine_type                          8385                3.3540
exterior_color                          2                0.0008
fleet                              118803               47.5212
frame_damaged                      118803               47.5212
franchise_dealer                        0                0.0000
franchise_make                      47975               19.1900
front_legroom                       13237                5.2948
fuel_tank_volume                    13237                5.2948
fuel_type                            6893                2.7572
has_accidents                      118803               47.5212
height                              13237                5.2948
highway_fuel_economy                40803               16.3212
horsepower                          14347                5.7388
interior_color                         13                0.0052
isCab                              118803               47.5212
is_certified                       250000              100.0000
is_cpo                             234818               93.9272
is_new                                  0                0.0000
is_oemcpo                          238681               95.4724
latitude                                0                0.0000
length                              13237                5.2948
listed_date                             0                0.0000
listing_color                           0                0.0000
listing_id                              0                0.0000
longitude                               0                0.0000
main_picture_url                    30881               12.3524
major_options                       16376                6.5504
make_name                               0                0.0000
maximum_seating                     13237                5.2948
mileage                             12059                4.8236
model_name                              0                0.0000
owner_count                        126204               50.4816
power                               40175               16.0700
price                                   0                0.0000
salvage                            118803               47.5212
savings_amount                          0                0.0000
seller_rating                        3458                1.3832
sp_id                                  12                0.0048
sp_name                                 0                0.0000
theft_title                        118803               47.5212
torque                              43302               17.3208
transmission                         5155                2.0620
transmission_display                 5155                2.0620
trimId                               9591                3.8364
trim_name                            9636                3.8544
vehicle_damage_category            250000              100.0000

In [7]:
col[61:]

                      num_rows_missing  percent_rows_missing
wheel_system                     12240                4.8960
wheel_system_display             12240                4.8960
wheelbase                        13237                5.2948
width                            13237                5.2948
year                                 0                0.0000

In [8]:
cars_df.shape

(250000, 66)

#### High Null Columns takeaways (Over 90%)

- Bed is only used for trucks, making the column 99% null , remove bed info
- Cabin missing 97%, remove cabin
- Combine Fuel Economy is 100% null, remove
- drop is_certified
- drop is_cpo

In [9]:
cars_df = wrangle.drop_null_columns(cars_df , 90)

<class 'pandas.core.series.Series'>

In [10]:
cars_df.shape

(250000, 59)

#### High Null rows takeaways (Over 40%)
- removing any row that has more than 40% of its columns missing

In [11]:
row = wrangle.get_nulls(cars_df)[1]

<class 'pandas.core.series.Series'>

In [12]:
row

   num_cols_missing percent_cols_missing  num_rows
0                 0                  0.0      5602
1                 1    1.694915254237288      4183
2                 2    3.389830508474576     48929
3                 3    5.084745762711865     38310
4                 4    6.779661016949152     15636
5                 5     8.47457627118644      8134
6                 6    10.16949152542373      2573
7                 7   11.864406779661017     10980
8                 8   13.559322033898304      3512
9                 9   15.254237288135593     52003
10               10    16.94915254237288     15854
11               11    18.64406779661017     19037
12               12    20.33898305084746      6794
13               13   22.033898305084744      2715
14               14   23.728813559322035      1215
15               15   25.423728813559322      1104
16               16    27.11864406779661       545
17               17     28.8135593220339       580
18               18   30.508474576271187       290
19               19    32.20338983050847       126
20               20    33.89830508474576      1254
21               21    35.59322033898305      1384
22               22    37.28813559322034       732
23               23   38.983050847457626       740
24               24    40.67796610169492       312
25               25     42.3728813559322       378
26               26    44.06779661016949       211
27               27    45.76271186440678      1883
28               28    47.45762711864407      1454
29               29   49.152542372881356       768
30               30   50.847457627118644       614
31               31    52.54237288135594      1085
32               32    54.23728813559322       669
33               33   55.932203389830505       254
34               34     57.6271186440678        99
35               35    59.32203389830508        27
36               36   61.016949152542374        14

In [13]:
cars_df = wrangle.drop_null_rows(cars_df, 40)

In [14]:
cars_df.shape

(242232, 59)

In [15]:
cars_df.isna().sum()

vin                          0
back_legroom              5469
bed_height              206546
bed_length              206546
body_type                   97
city                         0
city_fuel_economy        33136
daysonmarket                 0
dealer_zip                   0
description               5865
engine_cylinders          4236
engine_displacement       6579
engine_type               4236
exterior_color               2
fleet                   111695
frame_damaged           111695
franchise_dealer             0
franchise_make           47456
front_legroom             5469
fuel_tank_volume          5469
fuel_type                 3205
has_accidents           111695
height                    5469
highway_fuel_economy     33136
horsepower                6579
interior_color              13
isCab                   111695
is_new                       0
latitude                     0
length                    5469
listed_date                  0
listing_color                0
listing_id                   0
longitude                    0
main_picture_url         28875
major_options            13531
make_name                    0
maximum_seating           5469
mileage                  11261
model_name                   0
owner_count             118687
power                    32407
price                        0
salvage                 111695
savings_amount               0
seller_rating             3336
sp_id                       12
sp_name                      0
theft_title             111695
torque                   35534
transmission              4540
transmission_display      4540
trimId                    3162
trim_name                 3207
wheel_system              4881
wheel_system_display      4881
wheelbase                 5469
width                     5469
year                         0
dtype: int64

#### Investigating remaining nulls (To drop, fill with a value, or impute an avg)

In [16]:
#Bed
#Bed stats only used for pickuptruck, remove
cars_df = cars_df.drop(columns=['bed_height', 'bed_length'])

In [17]:
cars_df.shape

(242232, 57)

In [18]:
#Body type is important and hard to impute, drop the missing rows
cars_df = cars_df.dropna(axis=0, subset=['body_type'])

In [19]:
#back_legroom , lets take a closer look into the null values
cars_df['back_legroom'].value_counts()

38.3 in    9549
43.6 in    8458
37.4 in    7334
--         6815
35.7 in    6472
           ...
49 in         1
25.8 in       1
26.5 in       1
26.6 in       1
24.9 in       1
Name: back_legroom, Length: 198, dtype: int64

In [20]:
#leg_room
split = cars_df['back_legroom'].str.split(' ', n =1, expand = True)
split1 = cars_df['front_legroom'].str.split(' ', n =1, expand = True)

In [21]:
cars_df['back_legroom'] = split[0]
cars_df['front_legroom'] = split1[0]

In [22]:
cars_df['back_legroom'] = pd.to_numeric(cars_df['back_legroom'], errors='coerce')
cars_df['front_legroom'] = pd.to_numeric(cars_df['front_legroom'], errors='coerce')

In [23]:
cars_df.groupby(by='body_type').back_legroom.mean()

body_type
Convertible        30.735284
Coupe              31.719139
Hatchback          34.859640
Minivan            38.546644
Pickup Truck       40.077898
SUV / Crossover    38.329485
Sedan              37.041322
Van                35.744665
Wagon              37.155547
Name: back_legroom, dtype: float64

In [24]:
#fill nulls with avg legroom for each body type
cars_df['back_legroom'] = cars_df.groupby('body_type').back_legroom.transform(lambda x : x.fillna(round(x.mean(),1)))
cars_df['front_legroom'] = cars_df.groupby('body_type').front_legroom.transform(lambda x : x.fillna(round(x.mean(),1)))

In [25]:
#city_fuel_economy can be filled with the avg for year, make and model
cars_df['city_fuel_economy'] = cars_df.groupby(['year','make_name','model_name']).city_fuel_economy.transform(lambda x : x.fillna(round(x.mean(),1)))
cars_df = cars_df.dropna(axis=0, subset=['city_fuel_economy'])
#highway_fuel_economy as well
cars_df['highway_fuel_economy'] = cars_df.groupby(['year','make_name','model_name']).highway_fuel_economy.transform(lambda x : x.fillna(round(x.mean(),1)))
cars_df = cars_df.dropna(axis=0, subset=['highway_fuel_economy'])

In [26]:
#drop description, cant be used in regression model
cars_df = cars_df.drop(columns='description')

In [27]:
#engine specifics 
#use the year, make and model to figure out what engine might have been in that particular vehicle

In [28]:
#fill engine specifics with most popular option for that year , make and model
cars_df['engine_cylinders'] = cars_df.groupby(['year','make_name','model_name']).engine_cylinders.\
transform(lambda x : x.fillna(x.mode()))
cars_df = cars_df.dropna(axis=0, subset=['engine_cylinders'])
cars_df['engine_displacement'] = cars_df.groupby(['year','make_name','model_name']).engine_displacement.\
transform(lambda x : x.fillna(x.mode()))
cars_df = cars_df.dropna(axis=0, subset=['engine_displacement'])
cars_df['engine_type'] = cars_df.groupby(['year','make_name','model_name']).engine_type.\
transform(lambda x : x.fillna(x.mode()))
cars_df = cars_df.dropna(axis=0, subset=['engine_type'])

In [29]:
#fleet can be filled with "unknown" as being a fleet car might have an effect on its pricing
#but we dont want to encode to binary, as it may skew our non fleet cars
cars_df.fleet = cars_df.fleet.fillna('unknown')

In [30]:
#Assume seller verified no frame damage, impute nulls to false
cars_df.frame_damaged = cars_df.frame_damaged.fillna(False)

In [31]:
#franchise make is not important, drop column
cars_df = cars_df.drop(columns='franchise_make')

In [32]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224878 entries, 1 to 249999
Data columns (total 55 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   vin                   224878 non-null  object
 1   back_legroom          224878 non-null  float64
 2   body_type             224878 non-null  object
 3   city                  224878 non-null  object
 4   city_fuel_economy     224878 non-null  float64
 5   daysonmarket          224878 non-null  int64
 6   dealer_zip            224878 non-null  object
 7   engine_cylinders      224878 non-null  object
 8   engine_displacement   224878 non-null  float64
 9   engine_type           224878 non-null  object
 10  exterior_color        224876 non-null  object
 11  fleet                 224878 non-null  object
 12  frame_damaged         224878 non-null  bool
 13  franchise_dealer      224878 non-null  bool
 14  front_legroom         224878 non-null  float64
 15  fuel_tank_volume      224633 non-null  object
 16  fuel_type             224878 non-null  object
 17  has_accidents         120541 non-null  object
 18  height                224633 non-null  object
 19  highway_fuel_economy  224878 non-null  float64
 20  horsepower            224878 non-null  float64
 21  interior_color        224867 non-null  object
 22  isCab                 120541 non-null  object
 23  is_new                224878 non-null  bool
 24  latitude              224878 non-null  float64
 25  length                224633 non-null  object
 26  listed_date           224878 non-null  object
 27  listing_color         224878 non-null  object
 28  listing_id            224878 non-null  int64
 29  longitude             224878 non-null  float64
 30  main_picture_url      198524 non-null  object
 31  major_options         213413 non-null  object
 32  make_name             224878 non-null  object
 33  maximum_seating       224633 non-null  object
 34  mileage               214451 non-null  float64
 35  model_name            224878 non-null  object
 36  owner_count           114332 non-null  float64
 37  power                 200509 non-null  object
 38  price                 224878 non-null  float64
 39  salvage               120541 non-null  object
 40  savings_amount        224878 non-null  int64
 41  seller_rating         221845 non-null  float64
 42  sp_id                 224866 non-null  float64
 43  sp_name               224878 non-null  object
 44  theft_title           120541 non-null  object
 45  torque                197394 non-null  object
 46  transmission          220872 non-null  object
 47  transmission_display  220872 non-null  object
 48  trimId                224878 non-null  object
 49  trim_name             224834 non-null  object
 50  wheel_system          224724 non-null  object
 51  wheel_system_display  224724 non-null  object
 52  wheelbase             224633 non-null  object
 53  width                 224633 non-null  object
 54  year                  224878 non-null  int64
dtypes: bool(3), float64(13), int64(4), object(35)
memory usage: 91.6+ MB

In [33]:
#fuel type specifics can be imputed by most common engine type
cars_df['fuel_type'] = cars_df.groupby(['year','make_name','model_name']).fuel_type.transform(lambda x : x.fillna(x.mode()))
cars_df = cars_df.dropna(axis=0, subset=['fuel_type'])
split2 = cars_df['fuel_tank_volume'].str.split(' ', n =1, expand = True)
cars_df['fuel_tank_volume'] = split2[0]
cars_df['fuel_tank_volume'] = pd.to_numeric(cars_df['fuel_tank_volume'], errors='coerce')
cars_df = cars_df.dropna(axis=0, subset=['fuel_tank_volume'])
cars_df['fuel_tank_volume'] = cars_df.groupby(['fuel_tank_volume']).fuel_tank_volume.transform(lambda x : x.fillna(round(x.mean(),1)))

In [34]:
#Assume seller verified no accidents, impute nulls to false
cars_df.has_accidents = cars_df.has_accidents.fillna(False)

In [35]:
### height of the car can be filled with the avg of the make year, make and mode
split3 = cars_df['height'].str.split(' ', n =1, expand = True)
cars_df['height'] = split3[0]
cars_df['height'] = pd.to_numeric(cars_df['height'], errors='coerce')
cars_df = cars_df.dropna(axis=0, subset=['height'])
cars_df.height = cars_df.groupby(['year','make_name','model_name']).height.\
transform(lambda x : x.fillna(x.mean()))

In [36]:
cars_df.isna().sum()

vin                          0
back_legroom                 0
body_type                    0
city                         0
city_fuel_economy            0
daysonmarket                 0
dealer_zip                   0
engine_cylinders             0
engine_displacement          0
engine_type                  0
exterior_color               2
fleet                        0
frame_damaged                0
franchise_dealer             0
front_legroom                0
fuel_tank_volume             0
fuel_type                    0
has_accidents                0
height                       0
highway_fuel_economy         0
horsepower                   0
interior_color              11
isCab                   104336
is_new                       0
latitude                     0
length                       0
listed_date                  0
listing_color                0
listing_id                   0
longitude                    0
main_picture_url         26319
major_options            11408
make_name                    0
maximum_seating              0
mileage                  10418
model_name                   0
owner_count             110540
power                    24316
price                        0
salvage                 104336
savings_amount               0
seller_rating             3025
sp_id                       11
sp_name                      0
theft_title             104336
torque                   27424
transmission              4000
transmission_display      4000
trimId                       0
trim_name                   44
wheel_system               154
wheel_system_display       154
wheelbase                    0
width                        0
year                         0
dtype: int64

In [37]:
#isCab, main_picture_url, major_options,  not needed for this scope, drop column
cars_df = cars_df.drop(columns=['isCab','main_picture_url','major_options'])

In [38]:
#milage should not be imputed, plays too big of a role in the price of the car.
cars_df = cars_df.dropna(axis=0, subset=['mileage'])

In [39]:
#owner count should not be imputed. the amount of owners plays a rol on car prices
cars_df = cars_df.dropna(axis=0, subset=['owner_count'])

In [40]:
#power, torque,not needed for simple car prices, we wont need peak powerbands, horsepower should be enough
cars_df = cars_df.drop(columns=['power','torque'])

In [41]:
#salvage/seller_rating/theft_title too important to impute drop column
cars_df = cars_df.drop(columns=['salvage','seller_rating','theft_title'])

In [42]:
#sp_id is the numeric version of sp_name, drop name and drop nulls from sp_id
cars_df = cars_df.drop(columns=['sp_name'])

In [43]:
cars_df.isna().sum()

vin                        0
back_legroom               0
body_type                  0
city                       0
city_fuel_economy          0
daysonmarket               0
dealer_zip                 0
engine_cylinders           0
engine_displacement        0
engine_type                0
exterior_color             2
fleet                      0
frame_damaged              0
franchise_dealer           0
front_legroom              0
fuel_tank_volume           0
fuel_type                  0
has_accidents              0
height                     0
highway_fuel_economy       0
horsepower                 0
interior_color            11
is_new                     0
latitude                   0
length                     0
listed_date                0
listing_color              0
listing_id                 0
longitude                  0
make_name                  0
maximum_seating            0
mileage                    0
model_name                 0
owner_count                0
price                      0
savings_amount             0
sp_id                     11
transmission            1561
transmission_display    1561
trimId                     0
trim_name                 39
wheel_system               6
wheel_system_display       6
wheelbase                  0
width                      0
year                       0
dtype: int64

In [44]:
#remove cars with unknown transmission types

In [45]:
cars_df = cars_df.dropna(axis=0, subset=['transmission'])
cars_df = cars_df.dropna(axis=0, subset=['transmission_display'])

In [46]:
#anything left over will be removed
cars_df = cars_df.dropna()

In [47]:
cars_df.isna().sum()

vin                     0
back_legroom            0
body_type               0
city                    0
city_fuel_economy       0
daysonmarket            0
dealer_zip              0
engine_cylinders        0
engine_displacement     0
engine_type             0
exterior_color          0
fleet                   0
frame_damaged           0
franchise_dealer        0
front_legroom           0
fuel_tank_volume        0
fuel_type               0
has_accidents           0
height                  0
highway_fuel_economy    0
horsepower              0
interior_color          0
is_new                  0
latitude                0
length                  0
listed_date             0
listing_color           0
listing_id              0
longitude               0
make_name               0
maximum_seating         0
mileage                 0
model_name              0
owner_count             0
price                   0
savings_amount          0
sp_id                   0
transmission            0
transmission_display    0
trimId                  0
trim_name               0
wheel_system            0
wheel_system_display    0
wheelbase               0
width                   0
year                    0
dtype: int64

In [48]:
#all changes will be stored in a wrangle python script

### Datatype conversion / Removing redundant columns

In [49]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111674 entries, 2 to 249995
Data columns (total 46 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   vin                   111674 non-null  object
 1   back_legroom          111674 non-null  float64
 2   body_type             111674 non-null  object
 3   city                  111674 non-null  object
 4   city_fuel_economy     111674 non-null  float64
 5   daysonmarket          111674 non-null  int64
 6   dealer_zip            111674 non-null  object
 7   engine_cylinders      111674 non-null  object
 8   engine_displacement   111674 non-null  float64
 9   engine_type           111674 non-null  object
 10  exterior_color        111674 non-null  object
 11  fleet                 111674 non-null  object
 12  frame_damaged         111674 non-null  bool
 13  franchise_dealer      111674 non-null  bool
 14  front_legroom         111674 non-null  float64
 15  fuel_tank_volume      111674 non-null  float64
 16  fuel_type             111674 non-null  object
 17  has_accidents         111674 non-null  bool
 18  height                111674 non-null  float64
 19  highway_fuel_economy  111674 non-null  float64
 20  horsepower            111674 non-null  float64
 21  interior_color        111674 non-null  object
 22  is_new                111674 non-null  bool
 23  latitude              111674 non-null  float64
 24  length                111674 non-null  object
 25  listed_date           111674 non-null  object
 26  listing_color         111674 non-null  object
 27  listing_id            111674 non-null  int64
 28  longitude             111674 non-null  float64
 29  make_name             111674 non-null  object
 30  maximum_seating       111674 non-null  object
 31  mileage               111674 non-null  float64
 32  model_name            111674 non-null  object
 33  owner_count           111674 non-null  float64
 34  price                 111674 non-null  float64
 35  savings_amount        111674 non-null  int64
 36  sp_id                 111674 non-null  float64
 37  transmission          111674 non-null  object
 38  transmission_display  111674 non-null  object
 39  trimId                111674 non-null  object
 40  trim_name             111674 non-null  object
 41  wheel_system          111674 non-null  object
 42  wheel_system_display  111674 non-null  object
 43  wheelbase             111674 non-null  object
 44  width                 111674 non-null  object
 45  year                  111674 non-null  int64
dtypes: bool(4), float64(14), int64(4), object(24)
memory usage: 37.1+ MB

In [50]:
#Length, Width, Wheelbase need to be split from unit of measure to become floats
split = cars_df['width'].str.split(' ', n =1, expand = True)
split2 = cars_df['wheelbase'].str.split(' ', n =1, expand = True)
split3 = cars_df['length'].str.split(' ', n =1, expand = True)
cars_df['width'] = split[0]
cars_df['wheelbase'] = split2[0]
cars_df['length'] = split3[0]
cars_df['width'] = pd.to_numeric(cars_df['width'], errors='coerce')
cars_df['wheelbase'] = pd.to_numeric(cars_df['wheelbase'], errors='coerce')
cars_df['length'] = pd.to_numeric(cars_df['length'], errors='coerce')

#engine_cylinders and engine_type are the same column, drop #engine_cylinders
cars_df = cars_df.drop(columns='engine_cylinders')

In [51]:
#we'll use the datelisted date and subtract it from  the max date of the dataframe to get the new daysonmarket
#then remove date listed
cars_df.listed_date = pd.to_datetime(cars_df.listed_date)
cars_df.daysonmarket = (cars_df.listed_date.max() - cars_df.listed_date).astype(str)
split4 = cars_df['daysonmarket'].str.split(' ', n =1, expand = True)
cars_df['daysonmarket'] = split4[0]
cars_df['daysonmarket'] = pd.to_numeric(cars_df['daysonmarket'], errors='coerce')
cars_df = cars_df.drop(columns='listed_date')

In [52]:
#split zipcode to only look at the first 5 numbers, remove anything after dash
withdash = cars_df['dealer_zip'].str.contains('-') == True
split = cars_df[withdash]['dealer_zip'].str.split('-', n =1, expand = True)
cars_df.loc[withdash, 'dealer_zip'] = split[0]

In [53]:
#listing_id from cargurus not needed for the scope of this project remove
cars_df = cars_df.drop(columns=['listing_id'])

In [54]:
#trim_id and trim_name represent the same thing, for modeling purposes we'll use trimid and remove trim_name
split6 = cars_df['trimId'].str.split('t', n =1, expand = True)
cars_df['trimId'] = split6[1]
cars_df['trimId'] = pd.to_numeric(cars_df['trimId'], errors='coerce')
cars_df = cars_df.drop(columns='trim_name')

In [55]:
#wheel system and wheel system display are the same, we'll remove wheel system display
cars_df = cars_df.drop(columns='wheel_system_display')

In [56]:
#transmission and transmission display are vitually the same thing, 
#display is broken down more so we'll use that one and drop transmission
cars_df = cars_df.drop(columns='transmission')

In [57]:
#maximum seating is the number of seats in the car, we'll split the space and take the number 
split7 = cars_df['maximum_seating'].str.split(' ', n =1, expand = True)
cars_df['maximum_seating'] = split7[0]
cars_df['maximum_seating'] = pd.to_numeric(cars_df['maximum_seating'], errors='coerce')

### Encoding

here we will encode the variables to numeric ones for Modeling
- The remaining objects and bools will be encoded to integers for modeling purposes

In [58]:
object_list = cars_df.drop(columns = ['vin'])

In [59]:
object_list = object_list.columns.where(object_list.dtypes == 'object').dropna().to_list()

In [60]:
for i in object_list:
    list_ = (cars_df[i].value_counts().index.to_list())